@{
    ViewData["Title"] = "Rules";
}


<div>
    <img src="~/images/rules.jpg"/>
</div>

<div>
    <h3>1: be respectful</h3>

    <h3>2: be kind</h3>
    <h3>3: NO HATESPEECH</h3>
    <h3>4: this quiz is for fun ,so have fun</h3>
    
</div>